In [5]:
assert thousands_with_commas(1234) == '1,234'

NameError: name 'thousands_with_commas' is not defined

In [171]:
n = 1234

In [172]:
n = str(n)

In [116]:
n

'  1234'

In [117]:
len(n)

6

In [68]:
n_rev = n[::-1]

In [48]:
n_rev[0]

'8'

In [145]:
n = str(1234567)
num_len = len(n)
num = []

n_rev = n[::-1]
 
for i in range(num_len):
    if (i % 3 == 0):
        n_rev = n_rev[0:i+3] + ',' + n_rev[i+3:]
        print(n_rev[::-1]) 
    else:
        print(n)
print(n_rev[::-1])

1234,567
1234567
1234567
12,34,567
1234567
1234567
,12,34,567
,12,34,567

In [169]:
n = list(n)

In [170]:
n.(',')

AttributeError: 'list' object has no attribute 'rpartition'

In [ ]:
n = str(1234567)
num_len = len(n)
num = []

n_rev = n[::-1]
 
for i in range(num_len):
    if (i % 3 == 0):
        n_rev = n_rev[0:i+3] + ',' + n_rev[i+3:]
        print(n_rev[::-1]) 
    else:
        print(n)
print(n_rev[::-1])

In [217]:
n = str(123456789)

In [205]:
n

'12345'

In [218]:
n_rev = n[::-1]

In [195]:
num_len = len(n)
num = []
if num_len > 3:
    for i in range(num_len):

        if (i % 3 == 0) & (i != 0):
            print('At', i)
            comma_num = num_rev[i-3:i] + ','
            comma_num[::-1]
            print(comma_num[::-1])
            num.append(comma_num[::-1])
else:
    print(n)

At 3
,234

In [ ]:
for i

In [192]:
num

['123,']

In [ ]:
def fn(integer):
    string_num = str(integer)
    rev = string_num[::-1]

In [219]:
n_rev = n_rev[0:3] + ',' + n_rev[3:6] + ',' + n_rev[6:]

In [220]:
n_rev[::-1]

'123,456,789'

In [174]:
5+2*2

9

In [175]:
5-2*2

1